@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Grayis-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
    --title-color: hsl(150, 100%, 66%);
    --Light-Cyan: hsl(193, 38%, 86%);
}

html {
    font-size: 70%;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    background-color: var(--Dark-Blue);
    /* position: relative; */
}

/* main{
    position: relative;
} */
.advice-card {
    padding: 3rem;
    border-radius: 2rem;
    font-family: 'Manrope', sans-serif;
    max-width: 50rem;
    width: 95%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--Dark-Grayish-Blue);
}

.advice-title {
    color: var(--title-color);
    letter-spacing: 0.2rem;
    margin-bottom: 2.2rem;
}

.advice-content {
    font-size: 2.2rem;
    color: var(--Light-Cyan);
    margin-bottom: 2rem;
}

.advice-line img {
    width: 100%;
    margin-bottom: 2rem;
    color: var(--title-color);
}

.advice-btn {
    position: absolute;
    left: 50%;
    bottom: -2rem;
    transform: translateX(-50%);
    height: 4rem;
    width: 4rem;
    background-color: var(--title-color);
    border-radius: 100%;
    transition: all .3s;
    cursor: pointer;
}
.advice-btn:hover{
    box-shadow: -9px 7px 37px 6px rgba(82, 255, 168, 0.54);
}

.advice-btn img {
    height: 100%;
    width: 100%;
    transform: scale(0.5);
}

